*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* UTILITIES */

html{
    font-family: 'Open Sans', sans-serif;
}



.container  {
    display: flex;
    max-width: 100vw;
    margin: 0 auto;
    justify-content: center;

  
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    
}


button.b-inizia {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;

}

button.b-large {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 15px;
    cursor: pointer;
    width: 210px;
    margin-top: 30px;
    margin-bottom: 30px;

}

button.b-white {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
    width: 210px;
    margin-top: 60px;
    margin-bottom: 30px;
}

h1 {
    font-size: 55px;
    margin-bottom: 30px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
}

h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 0px;
    
}

h4 {
    margin-bottom: 35px;
}

.icons img{
    width: 15px;
}

.margin-left {
    margin-left: 20px;
}




 /* CHECK BOX */
 .checkbox label {
    display: inline-block;
    margin-right: 20px;
  }
  
  .checkbox input{
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid rgb(22, 20, 20);
  }
  
  .checkbox input:checked {
    background-color: #ffffff;
    border-color:  #0a2df3;
    border-width: 4px;
  }




/* LAYOUT HEADER */

.container.c-title {
    background-color: rgb(162, 202, 255);

}


header{
    width: 100%;
    
}

.col-20 {
    height: 60px;
    width: 12%;
    
    
}

.col-42.left  {
    display: flex;
    align-items: center;
    height: 80px;
    width: calc(88% / 2 );
   
}

.col-42.right  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left:10% ;
    height: 80px;
    width: calc(88% / 2 );
   
}

.logo-small {
    width: 70%;
    margin-top: 16px;
    margin-left: 30px;
}

.lista-orizzontale {
    display: flex;
    list-style: none;
    align-items: baseline;
    margin-right: 20px;

}

.lista-orizzontale li {
    margin-right: 20px;
    padding: 5px;
}


button:hover {
    background-color: rgb(4, 59, 78);
}

li a {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(10, 7, 7);
}



/* LAYOUT MAIN  */


.row-main.upper {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 70%;
    
   
}

.row-main {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 65%;
    
   
}


.col-80 {
    width: 100%;
    margin-top: 50px;

}

.col-60 {
    position: relative;
    width: 60%;

}

.col-40 {
    font-size: 15px;
    width: 40%;
}


.arrow {
    margin-top: 60px;
    width: 10%;
}

.jumbo {
    position: absolute;
    left: -20px;
    width: 45vw;
}


/* LAYOUT MAIN SEZ 2 singlolo */

.col-title {
    width: 100%;
}

/* LAYOUT MAIN SEZ 3 COLONNE */

.three { 
    justify-content: space-between;
}

.col-30 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1300px;
    width: 30%;
    background-color: rgb(253, 253, 253);
    border: 1px solid gray;
   
}

.title-col-30 {
    text-align: center;
    padding: 10px;
}

.title-offer {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.price {
    margin-left: 10px;
    font-weight: 600;
    padding: 5px 20px;
}

.month {
    margin-left: 10px;
    font-weight: 300;
    padding: 10px 20px;
    margin-bottom: 50px;

}


.lista-details li {
    margin-left: 10px;
    padding: 20px;
    list-style-type: none;

}

.button-col , .under-button {
    margin-left:30px ;
}

.buy {
    color: blue;
}

.line {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60px;
    height: 1px;
    background-color: gray;
}

.fa-check {
    display: inline;
    color: rgb(0, 123, 255);
}

.col-title h2 {
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: 30px;
}




/* LAYOUT TEAM ENTERPRISE */
 
  
.col-solo {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
    border-bottom: none;
}

.col-75 {
    width: 75%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 120px;
}

.col-25 {
    width: 25%;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 120px;
  
}

.sub-title {
    margin-left: 20px;
}

/* LAYOUT ROW MAIN DUBLE */

.img-partner img {
    width: 100%;
}

.partner-box {
    margin-left: 10px;
    padding: 10px;
}

.button-white {
    margin: 35px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;

}

/* LAYOUT COL 33 x 6 */

.col-33 {
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    padding-top: 30px;
 
   
}

.img-col-33,.img-col-33 img{
    width: 100%;
}

/* TITLE DROPBOX BUSINESS */

.col-title-2 {
    margin-top: 120px;
}

.row-large  {
    color: rgb(98, 4, 88);
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    background-color: rgb(162, 202, 255);
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top: 50px;
    margin-top: 50px;

}
.col-75-down {
    width: 75%;
    padding-bottom: 20px;
    margin-bottom: 120px;
  
}
.col-25-down {
    width: 25%;
    padding-bottom: 20px;
    margin-bottom: 120px;
  
}

/* DOMANDE FREQUENTI */

.col-100 {
    margin-top: 20px;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
}

.text-question{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 400;
}

.fas.fa-angle-down {
    margin-left: 250px;
}

.row-margin-100 {
    margin-bottom: 100px;
    
}

.col-100.col-100-title {
    margin-top: 60px;
    padding-bottom: 120px;
    
}

/* QUADRATI 4-1-4 */

.container-q {
    width: 100%;
    background-color: black;

}

.row-q {
    width: 100%;
    display: flex;

}

.col-33-q {
    width: calc(100% / 3 );
    height: calc(100vw / 3)

}

.back-red {
    background-color: rgba(200, 1, 1, 0.876);

}

.back-orange {
    background-color: orange;


}

.back-yellow { 
    background-color: rgb(248, 220, 2);
    

}

.back-green { 
    background-color: rgb(118, 194, 118);
    border: 10px solid rgb(166, 219, 166);

}

.back-granata { 
    background-color: rgb(99, 0, 0);

}
.back-blue { 
    background-color: rgb(2, 2, 124);

}

.back-celeste {
    background-color: rgb(40, 152, 232);
}
.back-orange{
    background-color: rgb(237, 13, 13);
}

.back-azzurro{
    background-color: rgb(132, 171, 192);
}

.back-grey{
    background-color: rgb(204, 204, 204);
}

.col-50 {
    display: flex;
    width: 50%;
    height: 50%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.height-100 {
    height: 100%;
}

.back-green img {
    justify-content: center;
    width: 50%;
    margin-left: 25%;
}

.back-granata img {
   
    justify-content: center;
    width: 50%;
    margin-left: 25%;

}

.back-celeste img {
    justify-content: center;
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-top: 40%;

}

.back-orange img {
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;

}

.back-red img {
    justify-content: center;
    width: 60%;
    margin-left: 25%;

}

.back-azzurro img {
    justify-content: center;
    width: 60%;
    margin-left: 25%;

}

.back-blue img {
    justify-content: center;
    width: 60%;
    margin-left: 25%;

}

.back-yellow img {
    justify-content: center;
    width: 60%;
    margin-left: 25%;

}

.img-grey {
    padding: 25px;
    width: 70%;
}

.line-grey {
    margin-left: 25px;
    width: 60px;
    height: 1px;
    background-color: rgb(84, 84, 84);
}

.text-grey {
    padding: 25px;
    font-size: 10px;
}




/* FOOTER alto */

.footer-alto, .footer-basso {
    width: 100%;
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: center;

}

.row-footer {
    display: flex;
    width: 75%;
}

.col-footer {
    width: 20%;
    border: 1px solid black;
    padding-bottom: 50px;
}

.list-footer {
    color: white;
    margin-top: 50px;
    padding: 10px;
   
}

.list-footer ul li {
   margin-top: 10px;
   list-style: none;
}

.titles-footer {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}

/* FOOTER basso */

.col-footer-basso {
    width: 15%;
    border-top: 2px solid white;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    font-size: 12px;
}

.col-footer-basso p {
    margin-left: 10px;
}



